@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    text-align: center;
}

header{
    background-color: #121212;
    margin-bottom: 50px;
}

.button{
    background-color: #f44336;
    color: #fdfdfd;
    border: none;
    padding: 8px;
    font-size: 18px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.system-name{
    color: #fdfdfd;
    font-size: 28px;
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.login{
    color: #121212;
}

.form-container{
    margin: auto;
    max-width: 400px;
    max-height: 600px;
    margin-bottom: 40px;
}

.error{
    color: #f44336;
    margin: 10px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}

input, label{
    margin: 15px;
}

input{
    width: 300px;
    max-width: 100%;
    padding: 8px;
    border: 1px solid #aea9aedd;
    font-size: 18px;
}

input:focus {
    outline: none !important;
    border: 1px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;

}
label{
    text-align: left;
    font-size: 20px;
}

.btn-row{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}


footer{
   
    background-color: #121212;
    bottom:0;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fdfdfd;
    font-size: 18px;;
}


@media screen and (max-width: 700px){
    .system-name{
        font-size: 24px;
    }
}

@media screen and (max-width: 470px) {
    .system-name {
        font-size: 20px;
    }

    .form-container {
        
        max-width: 350px;
       
    }

    input{
        width: 250px;
        padding: 6px;
        font-size: 16px;
    }
}


@media screen and (max-width: 390px) {
    .system-name {
        font-size: 16px;
    }

    .form-container {

        max-width: 300px;

    }

    input {
        width: 200px;
        padding: 4px;
        font-size: 14px;
    }
}

